body {
  background-color: rgb(238, 232, 120);
  color: rgb(241, 95, 95);
  font-family: Russo One, sans-serif;
  font-size: 50px;
}

button {
  background-color: rgb(241, 95, 95);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  font-size: 20px;
  font-family: Russo One, sans-serif;
  border: none;
  border-radius: 1rem;
  cursor: pointer;
  transition: transform 0.1s;
}
button:hover {
  background-color: rgb(255, 94, 94);
  transform: scale(1.05);
}

.clockCase {
  display: flex;
  justify-content: space-around;
}

.buttonCase {
  display: flex;
  justify-content: center;
}

#start {
  margin-right: 5%;
}

#stop {
  margin-left: 1px;
}
